# ─── Server ───────────────────────────────
PORT=4000

# ─── MongoDB ──────────────────────────────
MONGO_URI=mongodb+srv://hassanq_db_user:6qqtVZiZGXl82vYi@cluster0.gdfmn4h.mongodb.net/?appName=Cluster0

# ─── JWT ──────────────────────────────────
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d

# ─── ML Service ───────────────────────────
ML_SERVICE_URL=http://localhost:5001

# ─── Frontend ─────────────────────────────
FRONTEND_URL=http://localhost:3000
